
body{
  height: 200vh !important;
  background: rgb(206, 155, 155);
  width: 100vw !important ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
input{
    height: 2rem;
}